/* Surcharge des styles du composant Button pour le CTA header */
.ctaButton {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.ctaButton:hover {
  background-color: var(--pastel-extralight);
  transform: translateY(-2px);
}

.ctaButton:focus-visible {
  outline: 3px solid var(--pastel-dark);
  outline-offset: 2px;
  background-color: var(--pastel-extralight);
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .buttonText {
    display: none;
  }

  .ctaButton {
    padding: 0.75rem;
    border-radius: 50%;
  }
}

@media (max-width: 1024px) {
  .ctaButton {
    background-color: transparent;
    color: var(--pastel-dark);
    border: 2px solid var(--pastel-dark);
  }

  .ctaButton:hover {
    background-color: var(--pastel-dark);
    color: white;
  }
}
