.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  overflow: hidden;

  .hero__content {
    max-width: 1200px;
    margin-top: 4rem;
  }

  .hero__presentation {
    display: flex;
    justify-content: center;

    gap: 2rem;
  }

  .hero__presentation * {
    flex: 1;
  }

  .hero__subtitle {
    display: block;
    font-size: 2rem;
    color: var(--pastel-dark);
    margin-top: 0.5rem;
  }
}

.discovery {
  padding: 2rem;
  max-width: 1200px;

  background: var(--pastel-light);
  border-radius: 12px;

}

.discovery__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1200px;
  gap: 2.5rem;
  margin: 3rem auto;
}

.discovery__item {
  flex: 1 1 20%;

  cursor: pointer;
}

.discovery h2 {
  margin: 0 auto 3rem;
}

.discovery ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.professional__content {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.professional__column {
  flex: 1;
  padding: 1.5rem;
  border: 1px solid #777777;
  border-radius: 12px;

  background: var(--background-linear);
}

.professional h2 {
  max-width: 1200px;
  margin: 0 auto 3rem;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;

    padding: 0;

    .hero__presentation {
      flex-direction: column;
    }
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.1rem;
    margin: 0 auto 2rem;
  }

  .professional__content {
    flex-direction: column;
    gap: 1rem;
  }

  .professional__column {
    padding: 1rem 0.8rem;
  }

  .discovery__item {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .discovery__title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .discovery h2 {
    padding-bottom: 1rem;
  }

  .professional {
    padding: 1rem 0.5rem;
  }

  .professional h2 {
    max-width: 1200px;
    margin: 0 auto 1rem;
  }
}

@media (max-width: 375px) {
  .hero__presentation {
    gap: 0 !important;
  }

  .hero__content {
    margin-top: 6rem !important;
  }

  .discovery {
    padding: 1rem;
  }

  .discovery__item {
    flex: auto;
  }
}
