.imageCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  border-radius: 16px;

  color: #fff;
  background: var(--pastel-dark);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.imageCard h3 {
  text-align: center;
  color: #fff;
}

.imageCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(117, 199, 154, 0.15);
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.image {
  object-fit: cover;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.imageCard:hover .image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .imageCard {
    padding: 1rem;
  }

  .imageCard li {
    margin-left: 1rem;
  }

  .imageWrapper {
    max-width: 200px;
  }
}
